  html {
            scroll-behavior: smooth;
			  scroll-padding-top: 143px;
			    scroll-snap-type: y mandatory;


        }
body{  
margin:0;
background-color:#491064;
background-image: url('src/img/patternflashes-small.jpg');
background-repeat: repeat;
background-attachment: fixed;

font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

before {
    content: ' ';
    display: block;
    background-image: url('src/img/patternflashes.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh; width: 100vw;
    top: 0; bottom: 0; left: 0; right: 0;
    position: fixed;
    z-index: -10; 
}
 main{
	 width:100%;
position:relative;

 }
section > img {
    margin-bottom: 24px;
}
 header > div > h1{
	 margin-bottom:0;
 }

h1{
	font-size:38px;
	font-family: "Protest Strike", sans-serif;
font-weight: 400;
font-style: normal;
margin:0;
margin-bottom: 32px;
}

h2,h3,h4,h5,h6 {
	font-family: "Protest Strike", sans-serif;
font-weight: 400;
font-style: normal;	
color:#D48F2F;
	text-shadow: 0 4px 4px rgba(212, 143, 47, 0.35);



}

.logo {
    min-width: 5%;
    max-width: 17%;
  }

header > h1{
	line-height:1;
}

section > h1{
	color:#D48F2F;
	text-shadow: 0 4px 4px rgba(212, 143, 47, 0.35);
	

}

 address >p {
	 margin:0;
 }
section{
	background-color:#1C1415DA;
	color: #D1D3D3;
    padding:22px;


}

footer {
    display: flex;
    justify-content: space-between; /* Verteilt den Inhalt gleichmäßig auf der horizontalen Achse */
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
	margin-right:22px;

}

.footer-left address {
    margin-left: 10px; /* Adjust spacing between the link and address */
}

section{
		   display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically */
    align-items: center; /* Align items horizontally */
    min-height: 100vh; /* Set height to 100% of viewport height */
    margin-bottom: 64px;
    scroll-snap-align: start;
}

#Footer{
	height:auto;
    min-height: unset;
	background-color:none;
	margin-bottom:0;
}

header{
	background-color:#D48F2F;
	color: #1C1415;
	margin-bottom:16px;
padding:22px;	 
position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
	display: flex;
            align-items: flex-start;
            justify-content: space-between;

        }

       

        .header-text {
            display: flex;
             flex-direction: column;
            align-items: flex-start;
        }

        nav {
            align-items: center;
        }

        nav a {
            margin-right: 20px;
            text-decoration: none;
            color: #1C1415;
        }

        nav a:last-child {
            margin-right: 0;
        }

.footer-right > a {
	color: #D1D3D3;
	text-decoration: none;
}
 .slider {
    overflow: hidden;
    position: relative;
  }
  .slider-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  .slider-image {
    width: 100%;
    flex: 0 0 auto;
  }
  
  label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"], input[type="email"], textarea {
        width: 250px;
        margin-bottom: 10px;
    }
    textarea {
        height: 100px;
    }

	
 #cookie-banner {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #1C1415;
color: #D1D3D3;
            padding: 10px;
            text-align: center;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            z-index: 9999;
        }

        #cookie-banner p {
            margin: 0;
        }

        #cookie-banner button {
            background-color: #D48F2F;
            color: #1C1415;
            border: none;
            padding: 5px 15px;
            cursor: pointer;
        }
	p{
		max-width:386px;
	}	
	#cookie-banner > p{
		max-width:100%;
	}

#tattooForm label {
  color: #D1D3D3;
  margin-bottom: 16px;
    display: block;

}


button {
    margin-top: 10px; /* Adjust this value as needed */
}
#tattooForm input[type="text"],
#tattooForm input[type="email"],
#tattooForm input[type="number"],
#tattooForm textarea {
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #D48F2F;
  background-color: #1C1415;
  color: #D1D3D3;
  border-radius: 5px; /* Optional: Runde Ecken für die Eingabefelder */

}

#tattooForm button[type="submit"] {
  background-color: #D48F2F;
  color: #1C1415;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; /* Optional: Runde Ecken für den Button */
  cursor: pointer;
	height:60px;
	font-size:20px;
		font-family: "Protest Strike", sans-serif;
font-weight: 400;
font-style: normal;

}

#tattooForm button[type="submit"]:hover {
  background-color: #B06F25; /* Optional: Hintergrundfarbe ändern, wenn der Mauszeiger darüber schwebt */

}
		
	

/* Hover-Stil für Links im Header */
header nav a:hover {
    color: #fff; /* Ändern Sie die Textfarbe bei Hover */
}

/* Aktiver Stil für Links im Header */
header nav a:active {
    color: #ccc; /* Ändern Sie die Textfarbe im aktiven Zustand */
}

/* Fokusstil für Eingabefelder im Tattoo-Formular */
#tattooForm input[type="text"]:focus,
#tattooForm input[type="email"]:focus,
#tattooForm input[type="number"]:focus,
#tattooForm textarea:focus {
    border-color: #B06F25; /* Ändern Sie die Rahmenfarbe im Fokus */
    box-shadow: 0 0 5px rgba(176, 111, 37, 0.5); /* Optional: Fügt einen Schatten hinzu, wenn das Element den Fokus erhält */
}

/* Hover-Stil für Submit-Button im Tattoo-Formular */
#tattooForm button[type="submit"]:hover {
    background-color: #B06F25; /* Ändern Sie die Hintergrundfarbe beim Hover */
}

/* Aktiver Stil für Submit-Button im Tattoo-Formular */
#tattooForm button[type="submit"]:active {
    background-color: #8B4D1F; /* Ändern Sie die Hintergrundfarbe im aktiven Zustand */
}

footer a:hover {
    color: #fff; /* Ändern Sie die Textfarbe bei Hover */
}

/* Aktiver Stil für Links im Footer */
footer a:active {
    color: #ccc; /* Ändern Sie die Textfarbe im aktiven Zustand */
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px; /* Abgerundete Ecken mit 10px */
    font-weight: bold;
    max-width: 300px;
}

.success {
    background-color: rgba(122, 201, 67, 0.9); /* Grüne Hintergrundfarbe für Erfolgsmeldung mit reduzierter Deckkraft */
    color: #fff; /* Weiße Textfarbe */
    border: 2px solid #7AC943; /* Knalliger Rahmen für Erfolgsmeldung */
    padding: 15px; /* Zusätzliches Padding für Erfolgsmeldung */
    margin: 10px; /* Zusätzlicher Abstand um die Erfolgsmeldung */
	    border-radius: 10px; /* Abgerundete Ecken mit 10px */

}

.error {
    background-color: rgba(255, 71, 71, 0.9); /* Rote Hintergrundfarbe für Fehlermeldung mit reduzierter Deckkraft */
    color: #fff; /* Weiße Textfarbe */
    border: 2px solid #FF4747; /* Knalliger Rahmen für Fehlermeldung */
    padding: 15px; /* Zusätzliches Padding für Fehlermeldung */
    margin: 10px; /* Zusätzlicher Abstand um die Fehlermeldung */
	    border-radius: 10px; /* Abgerundete Ecken mit 10px */

}

.icon {
    margin-right: 10px;
    font-size: 20px; /* Größere Symbolgröße */
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }